*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    background-color: white;
}

.container .ql-container,
.container .ql-toolbar {
    border-style: none;
}